.sortBlock {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 11px 20px;
  border-radius: 7px;
  font-size: 12px;
  line-height: 14px;
  color: var(--orange);
  background-color: var(--white);
}

.sortBlock li {
  margin: 0;
}

.active {
  color: var(--orange);
}

.block {
  display: none;
}

.sortBlock li:focus {
  color: var(--orange);
  border-bottom: 2px solid var(--orange);
}

@media all and (min-width: 1024px) {
  .sortBlock {
    order: 3;
    justify-content: space-around;
    margin: 13px 0 0 0;
    padding: 0;    
    width: 100%;
    border-radius: 0;
    font-size: 20px;
    line-height: 23px;    
    color: var(--black);
    background-color: transparent;
    border-bottom: 2px solid var(--grey_D9);
  }

  .sortBlock li {
    padding-bottom: 13px;
  }

  .sortBlock li:hover,
  .sortBlock li:active {
    color: var(--orange);
    border-bottom: 2px solid var(--orange);
  }

  .active {
    border-bottom: 2px solid var(--orange);
  }

  .block {
    display: block;   
  }  
}


@media all and (min-width: 1540px) {
  .sortBlock {
    justify-content: flex-start;
    padding-left: 90px;
  }

  .sortBlock li:not(:last-of-type){
    margin-right: 60px;
  }
}