.cardContent {
  grid-area: cardcontent;
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 13px;
  padding: 20px 45px 0 22px;
}

.metaData {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 7px;
  font-size: 10px;
  line-height: 12px;
}

.userLink {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-right: 5px;
}

.avatar {
  margin: 0 7px 0 0;  
  width: 20px;
  height: 20px;
  border-radius: 50%;  
  font-size: 10px;
  text-align: center;
  background-color: var(--grey_D9);
}

.username {
  color: var(--orange);
}

.title {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.postLink {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.postLink:hover,
.postLink:focus,
.postLink:active {
  color: var(--orange);
}

@media all and (min-width: 480px) {
  .cardContent {
    padding-right: 80px;
    padding-top: 16px;
  }

  .title {
    order: 1;
    margin-bottom: 8px;
  }

  .metaData {
  order: 2;
  }
}

@media all and (min-width: 1024px) {
  .cardContent {
    margin-bottom: 10px;
    padding-left: 38px;
    padding-top: 10px;
    padding-right: 100px;
  }

  .metaData {
    margin-bottom: 0;
  }

  .title {
    font-size: 20px;
    line-height: 23px;
  }

  .userLink {
    order: 2;
  }

  .avatar {
    order: 1;
  }

  .username {
    order: 2;
    font-size: 14px;
    line-height: 16px;
  }

  .postLink {
    -webkit-line-clamp: 1;
  }
}

@media all and (min-width: 1540px) {
  .cardContent {
    flex-basis: 672px;
  }

  .userLink:hover a {
    text-decoration: underline;
  }

  .postLink::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
  }

  .username {
    position: relative;
    z-index: 1;
  }
}