.preview {
  grid-area: cardpreview;
  display: flex;
  max-height: 178px;
  min-height: 150px;
  text-align: center;
  background-color: var(--grey_D9);
}

.previewImg {
  width: 100%;
  object-fit: cover;
}

@media all and (min-width: 480px) {
  .preview {
    max-width: 180px;
    min-height: 100px;
    max-height: 150px;
    border-radius: 3px;
  }
}

@media all and (min-width: 1024px) {
  .preview {
    max-width: 190px;    
    max-height: 107px;
  }
}