.searchBlock {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 38px;
  padding: 14px 20px;
  background-color: var(--white);
  border-radius: 0 0 7px 7px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

@media all and (min-width: 1024px) {
  .searchBlock {
    order: 3;
    margin: 0 0 0 auto;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
  }
}